.boarder
{
    padding-top: 50px;
    border: 1px solid rgba(0, 0, 0, 0.8);
}
.layout1
{
    height: 100px;
    grid-template-columns: 1;
}
.one
{
    background-color: rgb(0, 155, 103);
}
.layout2
{
    display: grid;
    grid-template-columns: auto auto auto;
}
.lay
{
    text-align: center;
    height: 100px;
}
.two
{
    background-color: aqua;
}
.three
{
    background-color: blanchedalmond;
}
.four
{
    background-color: rgb(255, 0, 0);
}
.layout3
{    
    display: grid;
    height: 100px;
    grid-template-columns: auto auto;
}
.five
{
    background-color: purple;
}
.six
{
    background-color: rgb(105, 105, 105);
}
