.main
{
    text-align: center;
    
}
.table
{
    display: flex;
    align-items: center;
    justify-content: center;
}
table
{
    border: 1px solid;
    border-collapse: collapse;
}

table tr td, th{
    border: 1px solid;
    border-collapse: collapse;
}

.field 
{
    padding-left: 50px;
    border: none;
}
.saturday td
{
    border: none;
}